<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.odu.ece486.hm_app" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".cBaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/heart_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="edu.odu.ece486.hm_app.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".RFduinoSettingsActivity"
            android:label="@string/title_activity_rfduino_settings" >
        </activity>

        <service
            android:name=".RFduinoService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_results" >
        </activity>
        <activity
            android:name=".TestActivityV2"
            android:label="Valsalva Test" >
        </activity>
    </application>

</manifest>
